<a href="{% url 'docente_clases' %}"
  {% if '/u/2/clases/' in request.path %}
  class="nav-link active" aria-current="page"
  {% else %}
  class="nav-link"
  {% endif %}>
  <i class="bi bi-book{% if "/u/2/clases/" in request.path %}-fill{% endif %}"></i>
  <span>Mis clases</span>
</a>

<a href="{% url 'docente_matricula' %}"
  {% if '/u/2/matricula/' in request.path %}
  class="nav-link active" aria-current="page"
  {% else %}
  class="nav-link"
  {% endif %}>
  <i class="bi bi-people{% if "/u/2/matricula/" in request.path %}-fill{% endif %}"></i>
  <span>Mi matrícula</span>
</a>
